<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>
      Welcome to my project managemnet service! you can read the documentation <a href="/api/v1/docs">Here</a> to
      get started.
    </h3>
      
  </body>
</html>
